body {
  font-family: Arial, sans-serif;
  background-color:  #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.MuiPaper-root {
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

.MuiButton-containedPrimary {
  background-color: #28a745;
}

.MuiButton-containedPrimary:hover {
  background-color: #218838;
}

/*making text visible in input fields*/
.text-field-input {
  color: white; /* Input text color */
  background-color: white; /* Input background color */
}

.text-field-label {
  color: black; /* Placeholder and label color */
}
